$main-text-color: #212121;
$second-text-color: #646464;
$btn-bg-color: #CAA892;
$accent-color: #37806B;
// $hero-text-color: #181e4b;
// $second-text-color: #757575;
// $nav-text-color: #212832;
// $accent-color: #f1a501;
// $accent-second-color: #df6951;
// $second_btn_color: #686d77;
// $decore-square: #fff1da;
// $second-color-title: #080809;
// $second-color-subtitle: #84829a;
// $icon-btn-bgcolor: #f5f5f5;
// $steps-accent-color: #8a79df;
// $form-bg-color: #dfd7f9;
// $form-input: #39425d;
$background-color: #fff;
$font-family-main: Poppins;
$font-family-title: Open Sans;
