$main-text-color: #212121;
$second-text-color: #646464;
$title-color: #111111;
$btn-bg-color: #caa892;
$btn-footer: #D5D5D5;
$accent-color: #37806b;
$accent-second-color: #000000;
$background-color: #fff;
$second-background-color: #f8f8f8;
$decore-el-color: #e0e0e0;
$decore-background-color: #c4c4c4;
$input-background-color: #eeeeee;
$font-family-main: Poppins;
$font-family-title: Open Sans;
