.testimonials {
  text-align: center;
  font-weight: 500;
  padding: 63px 0 100px;

  @include mq(tablet) {
    padding-bottom: 110px;
  }

  @include mq(desktop) {
    padding-top: 133px;
    padding-bottom: 145px;
  }

  &__subtitle {
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;

    @include mq(tablet) {
      font-size: 20px;
    }
  }

  &__title {
    font-weight: 500;
    margin-bottom: 122px;
    font-size: 28px;
    line-height: 1.5;
    color: $main-text-color;

    @include mq(tablet) {
      font-size: 48px;
    }

    @include mq(desktop) {
      margin-bottom: 99px;
    }
  }

  &__list {
    padding: 60px 40px 40px 60px;
  }

  &__item {
    position: relative;
    width: 571px;
    text-align: left;
    background: $background-color;
    box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
    border-radius: 70px 0;
    padding: 37px 42px 55px 95px;
    font-family: $font-family-title, sans-serif;

    @include mq(desktop) {
      padding: 41px 42px 60px 95px;
    }
  }

  &__img {
    position: absolute;
    top: 30px;
    left: -61px;
    border-radius: 35px 0;
  }

  &__card {
    &-name {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 1.37;
    }

    &-name--bolt {
      font-weight: 700;
      font-size: 24px;
      color: $main-text-color;
    }

    &-text {
      font-size: 18px;
      line-height: 1.56;
    }
  }

  &__quotes {
    position: absolute;
    top: 40px;
    right: 52px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: $second-text-color;
  background: $background-color;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);

  &::after {
    font-size: 10px;
    font-weight: 600;
  }

  &:hover,
  &:focus {
    color: $background-color;
    background: $accent-color;
  }
}

.swiper-button-next {
  top: 6px;
  right: 6vw;

  @include mq(tablet) {
    top: 6px;
    right: 66px;
  }

  @include mq(desktop) {
    top: 6px;
    right: 66px;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  top: 6px;
  left: 60vw;

  @include mq(tablet) {
    top: 6px;
    left: 900px;
  }

  @include mq(desktop) {
    top: 6px;
    left: 1250px;
  }
}

.swiper.mySwiper {
  margin-left: auto;
  margin-right: auto;
}
